.login-form {
  padding: 2rem;
  border-radius: 8px;
  background: #fff;
  & .title {
    font-size: 0.75rem;
    font-weight: 500;
  }
  & .submit {
    width: 100%;
  }
  & .submit-btn {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 4%, rgba(25,93,204,1) 77%);
    border-radius: 20px;
    color: #fff;
    &:active{
      top: 2px;
    }
  }
}

.form-login-wrapper {
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 4%, rgba(25,93,204,1) 77%);
  height: 100vh;
}

.modal-result {
  top: 2.5rem;
  right: 3vw;
  width: 20%;
  border-radius: 8px;
  border-color: #ffeeba;
  background-color: #fff3cd;
  color: #856404;
  opacity: 0;
  transform: translateY(2rem);
  animation: hide-error;
  transition: 0.3s;
}

.has-error {
  opacity: 1;
  transform: translateY(0);
  animation: error;
}

@keyframes error {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide-error {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

input::placeholder {
  font-weight: 500;
  font-size: 0.85rem;
}

span:hover {
  cursor: default;
}
